---
import Layout from "~/layouts/Layout.astro";
import PrayerTimeForm from "~/components/PrayerTimeForm";
---

<Layout
  title="Prayer Times iCal Generator"
  description="Easily add your prayer times to Google or Apple Calendar"
>
  <main class="main">
    <h1 class="basmallah">بسم الله الرحمن الرحيم</h1>
    <h2>Add Prayer Times to Your Google Calendar</h2>
    <ol>
      <li>Fill out the form below</li>
      <li>Verify that the generated prayer times are correct</li>
      <li>Copy the generated URL</li>
      <li>Go to Google Calendar</li>
      <li>In the bottom left, click on '+' beside 'Other calendars'</li>
      <li>Click "From URL"</li>
      <li>Paste the URL and submit</li>
      <li>Enjoy!</li>
    </ol>

    <PrayerTimeForm client:only="react" />
    <h2 class="second-title">Troubleshooting</h2>
    <h3>
      Why doesn't the prayer time calendar sync from my Google account to the Apple Calendar on my iPhone?
    </h3>
    <p>
      After adding your Google account to your iPhone, you need to enable
      synchronization for the calendar to show up in the Apple Calendar on your iPhone. You can change synchronization settings on this
      page: <a href="https://www.google.com/calendar/syncselect">https://www.google.com/calendar/syncselect</a>
    </p>
    <h2 class="second-title">Feedback</h2>
    <p>You are welcome to send your feedback at <a href="mailto:contact@prayer-calendar.com">contact@prayer-calendar.com</a></p>
  </main>
</Layout>

<style>
  .main {
    max-width: 1000px;
    margin: auto;
    padding: 16px;
  }
  .basmallah {
    text-align: center;
  }
  .second-title {
    margin-top: 32px;
  }}
</style>
