---
import "picnic/picnic.min.css";

interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      defer
      data-domain="awqaate.com"
      src="https://evt.s22.h2.limited/js/script.tagged-events.js"></script>
    <script is:inline>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
